<form action = "{{ url_for('keys') }}" method = "POST">
    <div id="searchbox">
        <div id="content">
            <h1>Journal Hub</h1>
            <p>An <span>Amrita</span> Application</p>
        </div>
            
        <div id="content">
            <p>Eg: cloud computing, phishing, etc</p>
            <input type="text" name="keywords" id="keywords" placeholder="Select Keywords" 
                autocomplete="off" autofocus><br>   
            <input type="submit" id="push" value="Push">
        </div>                    
    </div>   
</form>   